{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-0 rounded-3">
            <div class="card-body p-4 p-md-5">
                <h1 class="h3 mb-4 text-center">{% trans "Sign Up" %}</h1>
                <p class="text-center text-muted mb-4">
                    {% url 'account_login' as login_url %}
                    {% blocktrans with u=login_url %}Already have an account? Then please <a href="{{ u }}">sign
                        in</a>.{% endblocktrans %}
                </p>

                {% url 'account_signup' as action_url %}
                <form class="signup" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="d-grid mt-4">
                        <button class="btn btn-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}