{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Organizations</h1>
    </div>
    <div class="card-body">
      <a href="{% url 'accounts:organization-create' %}" class="btn btn-primary mb-3">New Organization</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for org in object_list %}
            <tr>
              <td>{{ org.name }}</td>
              <td>
                <a href="{% url 'accounts:organization-detail' org.pk %}" class="btn btn-sm btn-info">View</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
