<div class="row">
    <div class="col-md-4">
        {% if user.userprofile.profile_picture %}
            <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}" class="img-fluid rounded-circle">
        {% else %}
            <img src="https://via.placeholder.com/300" alt="{{ user.username }}" class="img-fluid rounded-circle">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h1>{{ user.username }}</h1>
        <p>{{ user.userprofile.bio }}</p>
        <p><strong>Country:</strong> {{ user.userprofile.country }}</p>
        <p><strong>County/Region:</strong> {{ user.userprofile.county_region }}</p>
        <p><strong>Address:</strong> {{ user.userprofile.address }}</p>
        <p><strong>Postal Code:</strong> {{ user.userprofile.postal_code }}</p>
        <button type="button" class="btn btn-primary edit-btn" data-url="{% url 'accounts:profile-edit' %}">Edit Profile</button>
    </div>
</div>
