{% extends request.META.HTTP_X_REQUESTED_WITH|yesno:"base_ajax.html,base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="modal-header border-0 pb-0">
    <h3 class="modal-title fw-bold bg-gradient-text">Edit Settings</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form method="post" action="{% url 'accounts:settings-edit' %}">
    {% csrf_token %}
    <div class="modal-body">
        {{ form|crispy }}
    </div>
    <div class="modal-footer border-0 pt-0">
        <button type="submit" class="btn btn-theme-primary px-4 rounded-pill fw-medium shadow-sm">Save Changes</button>
    </div>
</form>
{% endblock %}
