{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}Edit Time Entry{% else %}New Time Entry{% endif %} - Puncha Mera
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">{% if object %}Edit Time Entry{% else %}New Time Entry{% endif %}</h1>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">Save</button>
        <a href="{% url 'time_entries:time_entry-list' %}" class="btn btn-secondary mt-3" onclick="return confirm('Are you sure you want to cancel?');">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
